{{#if showName}}
  <h2 id="title"> Hello {{name}}. </h2>
{{else}}
  <h2 id="title"> Hello Ember! </h2>
{{/if}}

<button {{action 'toggleName' }}>Toggle Name</button>

<br>

{{numClicks}} times.
<button {{action 'incrementClicks' }}>Increment</button>

{{link-to 'Home' 'application'}}
{{link-to 'About' 'about'}}

<h1>Counter</h1>
{{x-counter}}
{{x-counter}}
{{x-counter number=42}}
{{#x-counter}}
  {{x-counter}}
  This is some text
{{/x-counter}}

{{x-alert handleClick=(action 'doAlert') message='yo yoy yo'}}
{{x-alert handleClick=(action 'doAlert')}}
{{outlet}}